// color scheme 
$primary: #fff; 
$secondary: #E56399;
$background_main: #ffdecb; 
$mainfont: #071b6a;
$tertiary:#551a8b; 
$accent: #D5C6E0; 

// $primary: #071b6a; 
// $secondary: #E56399;
// $background_main: #fff4e7; 551a8b
// $mainfont: #071b6a;
// $tertiary:#f5e6e8; 
// $accent: #D5C6E0; 

