@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&family=Rouge+Script&display=swap');
$body-font: 'Nanum Gothic Coding', monospace;
$title-font: 'Poppins', sans-serif;
$handwriting: 'Rouge Script', cursive;